/*----------------*/
/*--- oh my food--*/
/*----- scss -----*/
/*----------------*/


/* VAR */
$color1:#9356DC;/*primary1*/
$color2:#FF79DA;/*primary2*/
$color3:#99E2D0;/*primary3*/
$color4:#eaeaea;/*searchBox bgcolor*/
$color5:#f5edff;/*howItWorks:hover*/
$color6:#f6f6f6;/*restaurant bgColor*/
$color7:#008080;/*newLabel text color*/
$color8:#292421;/*footer bgcolor*/
$color9:black;
$color10:white;
$color11:#cfcfcf;/*header logo*/

$responsive0:360px;/*width for @mediaqueries*/
$responsive1:800px;
$responsive2:1000px;
$responsive3:1200px;
$responsive4:1400px;

$fontName1:'Shrikhand';/*font family*/
$fontName1b:cursive;
$fontName2:'Roboto';
$fontName2b:sans-serif;

/* MIXIN */

@mixin textStyle($fontSize,$fontWeight,$lineHeight){
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

@mixin buttons{
  text-align: center;
  color: white;
  font-size: 1rem;
  background: linear-gradient(to bottom right,$color2,$color1);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 20%);
  border-radius: 35px;
  transition: box-shadow 300ms ease-in-out;
  &:hover{
    background: linear-gradient(to bottom right,rgba(255,121,218,0.9),rgba(147,86,220,0.9));/*color2&color1*/
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 40%); 
  }
}


/* FONCTION */



/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.d-flex{display: flex;}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
  @include textStyle(1.4rem,600,1.6rem)
}
h2{
  @include textStyle(1.4rem,600,1.4rem)
}
h3{
  @include textStyle(1.2rem,600,1.5rem)
}
p{
  @include textStyle(1rem,100,1.4rem)
}

a{text-decoration: none;color:$color9}

li{list-style: none;}



/* <!--...................... BODY ......................--> */

body{
  background-color:$color10 ;
  color: $color9;
  font-family: $fontName2, $fontName2b;
  max-width: $responsive4;
  margin: 0 auto;
/* border: solid 1px red; */
}

/* <!--...................... HEADER ......................--> */
#logo{
  justify-content: center;
  padding: 30px 0 15px 0;
  border-bottom: 1px solid $color11;
  margin-bottom: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 20%);
}

#logoMenus{
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 14% 15px 0;
}


#logoMenus i{
font-size: 1.4rem;
}

/* <!--...................... MAIN ......................--> */

/*<!--  section searchForm-->*/
.searchForm{
  width:100%; 
  height:auto;
  background-color:$color4;
  justify-content:center;
}
.searchForm i{
  padding: 10px 15px 15px 80px;
}

.searchForm form input{
  background-color:$color4;
  padding: 10px 5px 15px 5px;
  font-size: 1rem;
  border:none;
}


/*<!--  section headline-->*/
.headline{
  flex-direction: column;
  align-items: center;
  padding: 30px 0 50px 0;
  background-color:$color6;

}
.headline h1, .headline p{
  padding: 5px 50px;
  text-align: center;
  margin-bottom: 5px;
}
.headline .button{
  @include buttons;
  margin-top: 20px;
  padding: 10px 8px;
  width:200px;
}

/*<!--  section howItWorks-->*/
#howItWorks h2{
  padding: 20px 20px;
}

#howItWorks ol{
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
  li{
    padding: 25px 30px;
    margin: 10px 30px;
    border-radius: 25px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 18%);
    position: relative;
    cursor: default;
    &:hover{
      background-color:$color5;
    }
    &:hover i{
      color: $color1;
    }
    i{
      margin-right: 16px;
    }
    span{
      background-color: $color1;
      color: $color10;
      padding: 3px 8px;
      border-radius: 50%;
      margin-right: 5px;
      position: absolute;
      left:-11px;
      top: 25px;
    }
  }
}


/*<!--  section restaurants-->*/


#restaurants{
  padding: 40px 0 60px 0;
  background-color:$color6;
  flex-wrap: wrap;
  h2{
    padding: 20px 20px;
  }
  figure{
    width: auto;
    border-radius: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 18%);
    margin-bottom: 20px;
    &:hover{
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 30%);
    }
    img{
      width: 338px;
      height: 176px;
      object-fit:cover;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }
  figcaption{
    justify-content: space-between;
    align-items:center;
    padding: 20px 0 20px 10px;
    position: relative;
  }
}


.newLabel{
  padding: 3px 10px;
  border-radius: 2px;
  background-color: $color3;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 20%);
  position: absolute;
  right: 12px;
  bottom: 218px;
  font-size: 0.9rem;
  font-weight: 600;
  color:$color7;

}

#restaurantsList{
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  a:nth-child(3) .newLabel{
    display: none; 
  }
  a:nth-child(4) .newLabel{
    display: none; 
  }
}


/* ne pas passer le vide (empty heart) en position absolute car va dessus mais reste transparent :
IMPOSSIBLE de l'afficher sans voir le plein dessous. Donc passer l'autre en absolute*/


.hearts {
  color:black;
  font-size:1.7rem;
  font-weight:100;
  opacity:1;
  position: relative ;
  cursor: pointer;
  margin-right: 20px;
  .far.fa-heart{/*emptyHeart*/
    opacity:1;
  }
  .fas.fa-heart{/*solidHeart*/
    /*background: -webkit-linear-gradient(to bottom, $color1,$color2);*/
    background-image: linear-gradient(to bottom, $color1, $color2);
    -webkit-background-clip: text;
    /*-moz-background-clip: text;*/
    /*background-clip: text;*/
    color: transparent;
    position: absolute;
    opacity:0;
    left:0px ;
    top:2px ;
  }
  &:hover .fas.fa-heart{/*solidHeart*/
    animation: fasUP 1s both ;
  }
  &:hover .far.fa-heart{/*emptyHeart*/
    animation: farDown 1s both ;
  }
}

@keyframes fasUP{
  20%{opacity:0.5;}
  100%{opacity:1;}
}

@keyframes farDown{
  20%{opacity:0.5;}
  100%{opacity:0;}
}


/* <!--...................... FOOTER ......................--> */

footer{
  background-color: $color8;  
  padding: 20px 10px 40px 10px;
  h3{
    font-family: $fontName1, $fontName1b;
    font-weight: 100;
    color: $color10;
    line-height: 1.6rem;
    margin-bottom: 10px;
  }
  li{
    width: 100%;
    a{
      color: $color10;
      line-height: 1.6rem;
    }
  }
  .fa-utensils{
    padding-right: 15px;
  }
  .fa-hands-helping{
    padding-right: 6px;
  }
}


/*<!-- === === ===  === === === section MENU#.HTML (menu1 menu2 menu3 menu4) === === ===  === === === -->*/



.restaurantCard{
  width:100%;
  img{
    width: 100%;
    height: 254px;
    object-fit: cover;
  }
  h2{
    font-weight: 100;
    font-size: 1.1rem;
    text-transform: uppercase;  
    margin-left: 15px;
  }
}

.restaurant__Name{
  background-color: white;
  justify-content: space-evenly;
  padding:40px 0px;
  margin-top: -52px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  h1{
    font-family: $fontName1, $fontName1b;
    font-size: 1.8rem;
    font-weight: 100;
  }
}

.surlignBox{
  width:45px;
  height:3px;
  background-color: $color3;
  margin: 8px 0 10px 15px;
}

.restaurant__meal{
  height: 70px;
  overflow: hidden;
  margin: 0px 15px 15px 15px;
  border-radius: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 20%); 
  cursor: pointer; 
  animation: apparition 400ms linear backwards;/*all menu appears with delai for each*/
  &:hover .checkBox{
    width: 58px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color3;
    height: 100%;
  } 
  &:hover .fa-check{
    transform: rotate(1turn);
  } 
}

.meal__Description1 {
  padding: 15px 0 15px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width:100%;
}
.meal__Description2 {
  justify-content: center;
}

.price{
  font-weight: 600;
  padding: 40px 9px 0px 9px;
}

.checkBox{
  overflow: hidden;
  width: 0;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 700ms ease-in-out;
}

.fa-check{
  font-size: 1rem;
  border-radius: 25px;
  color: $color3;
  background-color: $color10;
  padding: 5px;
  text-align: center;
  transform: rotate(0turn);
  transition: all 500ms ease-in-out 200ms;
}

.meal__Title{
  overflow: hidden;
  text-overflow: ellipsis;
}

.meal__Txt{
  height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order{
  @include buttons;
  display: block;
  font-weight: 600;
  width:200px;
  margin: 50px auto;
  padding: 15px 30px;
}


/* @ @ @ @ @ anim menu:start @ @ @ @ @ */


@keyframes apparition{
  0%{
      opacity:0%;
      transform:translateY(10px)
  }
  60%{
      opacity:50%;
      transform:translateY(2px)
  }
  100%{
  opacity:100%;
  transform:translateY(0)
  }
}

.restaurant__Starter .restaurant__meal{/*starters arrive*/
  &:nth-child(3){
  animation-delay: 100ms;
  }
  &:nth-child(4){
    animation-delay: 200ms;
  }
  &:nth-child(5){
    animation-delay: 300ms;
  }
  &:nth-child(6){
    animation-delay: 400ms;
  }
}
.restaurant__MainDish .restaurant__meal{/*mainDish arrive*/
  &:nth-child(3){
    animation-delay: 600ms;
  }
  &:nth-child(4){
    animation-delay: 700ms;
  }
  &:nth-child(5){
    animation-delay: 800ms;
  }
  &:nth-child(6){
    animation-delay: 900ms;
  }
}
.restaurant__Dessert .restaurant__meal{/*dessert arrive*/
  &:nth-child(3){
  animation-delay: 1100ms;
  }
  &:nth-child(4){
    animation-delay: 1200ms;
  }
  &:nth-child(5){
    animation-delay: 1300ms;
  }
  &:nth-child(6){
    animation-delay: 1400ms;
  }
}


/* @ @ @ @ @ anim:end @ @ @ @ @ */







/*++++++++++++++++++++++++++++++++++++ LOADER ++++++++++++++++++++++++++++++++++++++*/

.loader h4{
  font-family: $fontName1, $fontName1b;
  color: $color1;
  text-shadow: $color2 0px 0px 2px;
  font-size: 1.4rem;
  text-align: center;
  line-height: 10rem;
}
.loader {
  width:100%;
  background: radial-gradient($color4,$color10);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  z-index: 10;  
  /* cursor: wait; */
  animation: loaderLife 2500ms linear forwards; 
}

@keyframes loaderLife{
  0%{
      opacity:1;
      transform:translateY(0)
  }

  98%{
      opacity:1;
      transform:translateY(0)
  }
  99%{
      opacity:0;
      transform:translateY(0)
  }
  100%{
      opacity:0;
      transform:translateY(-100vh)/*could have been done with z-index=0!*/
      /*z-index: 0;*/
  }
}


.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation: spin 1500ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: $color1;
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: $color2 ;
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: $color3;
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  border-color:$color2 ;
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  border-color: $color1;
  height: 34px;
  width: 34px;
  top: 35px;
}

@keyframes spin {
  0%, 15% {
  transform: rotate(0);
  }
  100% {
  transform: rotate(360deg);
  }
}




/*________________________________responsive _______ @media___________________________________________*/


@media all and (max-width: $responsive0){	/*<360w*/
  /*<!--  section searchForm-->*/
  .searchForm i{
    padding: 10px 5px 15px 40px;
  }
  /*<!--  section restaurants-->*/
  #restaurants figure img{
        width: 280px;
  }
}


@media all and (min-width: $responsive1){	/*>800w*/
  /*main section  : howItWorks*/
  #howItWorks ol{
    flex-direction: row;
    justify-content: center;
    li{
      text-align: center;
    }
  }
  /*main section  : restaurants*/
  #restaurantsList{
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
  }
  /*footer*/
  footer{
    display: flex;
    justify-content: space-around;
    h3{
      width:20%;
    }
    ul{
      width:80%;
      display: flex;
      justify-content: space-around;
      li{
        width: auto;
        text-align: center;
      }
    }
  }    
} 



@media all and (min-width: $responsive2){/*>1000w*/
  /*main section  : restaurants*/
  #restaurantsList{
      padding: 0 14% 0 14%;
  } 
}


@media all and (min-width: $responsive3){  /*>1200w*/   
  /*menu1 menu2 menu3 menu4*/
  .restaurant__menu{
      display: flex;
  }
  .restaurant__Starter{
      width: 33%;
  }
  .restaurant__MainDish{
      width: 33%;
  }
  .restaurant__Dessert{
      width: 33%;
  }
}
