/*-----------------*/
/*---           ---*/
/*-----------------*/


/*commentaire*/



/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.d-flex{display: flex;}

h1{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.6rem;
}

h2{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem;
}

h3{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
}


p{
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.4rem;
}

	
a{text-decoration: none;color:black}

li{list-style: none;}


	
/* <!---------------------------- BODY ----------------------------> */

body{
    background-color:white ;
	color: black;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
    max-width: 1400px;
    margin: 0 auto;
	border: solid 1px red;
}

.indexNoLoader{
    overflow: hidden;
    cursor: default;
}




/*<!------------------------------HEADER----------------> */

#logo{
    justify-content: center;
    padding: 30px 0 15px 0;
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 20%);
}

#logoMenus{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 14% 15px 0;
}


#logoMenus i{
font-size: 1.4rem;
}

/*<!------------------------------MAIN----------------> */


/*<!--  section searchForm-->*/
.searchForm{
    width:100%; 
    height:auto;
    background-color:#eaeaea;
    justify-content:center;

 }
 .searchForm i{
 padding: 10px 15px 15px 80px;
 }
 
 .searchForm form input{
     background-color:#eaeaea;
     padding: 10px 5px 15px 5px;
     font-size: 1rem;
     border:none;
 }

/*<!--  section headline-->*/
.headline{
    flex-direction: column;
    align-items: center;
    padding: 30px 0 50px 0;
    background-color:#f6f6f6;

}
.headline h1, .headline p{
    padding: 5px 50px;
    text-align: center;
    margin-bottom: 5px;
}
.headline .button{
    margin-top: 20px;
    text-align: center;
    background: linear-gradient(to bottom right,#FF79DA,#9356DC);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 30%);
    padding: 10px 8px;
    width:200px;
    color: white;
    border-radius: 35px;
    font-size: 0.9rem;
    transition: box-shadow 300ms ease-in-out;
}

.headline .button:hover{
    background: linear-gradient(to bottom right,rgba(255,121,218,0.9),rgba(147,86,220,0.9));
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 40%);
}

/*<!--  section howItWorks-->*/
#howItWorks h2{
    padding: 20px 20px;
}

#howItWorks ol{
flex-direction: column;
justify-content: center;
margin-bottom: 40px;
}

#howItWorks ol li{
    padding: 25px 30px;
    margin: 10px 30px;
    border-radius: 25px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 18%);
    position: relative;
    cursor: default;
}
#howItWorks ol li:hover{
    background-color:#f5edff;
}
#howItWorks ol li:hover i{
    color:#9356DC;
}

#howItWorks ol li span{
    background-color: #9356DC;
    color: white;
    padding: 3px 8px;
    border-radius: 50%;
    margin-right: 5px;
    position: absolute;
    left:-11px;
    top: 25px;
}

#howItWorks ol li i{
    margin-right: 16px;
}


/*<!--  section restaurants-->*/


#restaurants{
    padding: 40px 0 60px 0;
    background-color:#f6f6f6;
    flex-wrap: wrap;
}

#restaurants h2{
    padding: 20px 20px;
}

#restaurantsList{
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#restaurants figure{
    width: auto;
    border-radius: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 18%);
    margin-bottom: 20px;
}

#restaurants figure img{
    width: 338px;
    height: 176px;
    object-fit:cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    }

#restaurants figcaption{
    justify-content: space-between;
    align-items:center;
    padding: 20px 0 20px 10px;
    position: relative;
}

.newLabel{
    padding: 3px 10px;
    border-radius: 2px;
    background-color: #99E2D0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 20%);
    position: absolute;
    right: 12px;
    bottom: 218px;
    font-size: 0.9rem;
    font-weight: 600;
    color:#008080;
    animation: newFlash 1s infinite;
}

@keyframes newFlash{
    0%{opacity:100% }
    40%{opacity:67% }
    100%{opacity:100% }
}

#restaurantsList a:nth-child(3) .newLabel, #restaurantsList a:nth-child(4) .newLabel{
    display: none; 
}
/* #restaurants  .newLabel:nth-child(3) {
    display: none;
} */

/* ne pas passer le vide (empty heart) en position absolute car va dessus mais reste transparent :
 IMPOSSIBLE de l'afficher sans voir le plein dessous. Donc passer l'autre en absolute*/


.hearts {
    color:black;
    font-size:1.7rem;
    font-weight:100;
    opacity:1;
    position: relative ;
    cursor: pointer;
    margin-right: 20px;
}
  
.hearts .far.fa-heart{/*emptyHeart*/
    opacity:1;
}
  
.hearts .fas.fa-heart{/*solidHeart*/
    background: -webkit-linear-gradient(to bottom, #9356DC, #FF79DA);
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: absolute;
    opacity:0;
    left:0px ;
    top:2px ;
}
  
.hearts:hover .fas.fa-heart{/*solidHeart*/
    animation: fasUP 1s both ;
}
  
@keyframes fasUP{
    20%{opacity:0.5;}
    100%{opacity:1;}
}
  

/*<!-- === === ===  === === === section MENU#.HTML (menu1 menu2 menu3 menu4) === === ===  === === === -->*/

.restaurantCard img{
    width: 100%;
    height: 254px;
    object-fit: cover;
}

.restaurantCard{
    width:100%;
}

.restaurant__Name{
    background-color: white;
    justify-content: space-evenly;
    padding:40px 0px;
    margin-top: -52px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;

}
.restaurant__Name h1{
    font-family: 'Shrikhand', cursive;
    font-size: 1.8rem;
    font-weight: 100;
}


.restaurantCard h2{
    font-weight: 100;
    font-size: 1.1rem;
    text-transform: uppercase;  
    margin-left: 15px;
}

.surlignBox{
    width:45px;
    height:3px;
    background-color: #99E2D0;
    margin: 8px 0 10px 15px;
}

.restaurant__meal{
    height: 70px;
    overflow: hidden;
    margin: 0px 15px 15px 15px;
    border-radius: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 20%); 
    cursor: pointer; 
    animation: apparition 400ms linear backwards;/*all menu appears with delai for each*/
}

.meal__Description1 {
    padding: 15px 0 15px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:100%;
}
.meal__Description2 {
    justify-content: center;
}

.price{
    font-weight: 600;
    padding: 40px 9px 0px 9px;
}

.checkBox{
    overflow: hidden;
    width: 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 700ms ease-in-out;
}

.restaurant__meal:hover .checkBox{
    width: 58px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #99E2D0;
    height: 100%;
} 

.fa-check{
    /* display: inline-block; */
    font-size: 1rem;
    border-radius: 25px;
    color:#99E2D0;
    background-color: white;
    padding: 5px;
    text-align: center;
    transform: rotate(0turn);
    transition: all 500ms ease-in-out 200ms;
}

.restaurant__meal:hover .fa-check{
transform: rotate(1turn);
} 

.meal__Title{
    overflow: hidden;
    text-overflow: ellipsis;
}

.meal__Txt{
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.order{
    display: block;
    text-align: center;
    color:white;
    font-size: 1rem;
    font-weight: 600;
    width:200px;
    margin: 50px auto;
    padding: 15px 30px;
    border-radius: 30px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 20%);  
    background: linear-gradient(to bottom right,#FF79DA,#9356DC);
    cursor: pointer;
    transition: box-shadow 300ms ease-in-out;
}

.order:hover{
    background: linear-gradient(to bottom right,rgba(255,121,218,0.9),rgba(147,86,220,0.9));
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 40%);
}

/* @ @ @ @ @ anim menu:start @ @ @ @ @ */


@keyframes apparition{
    0%{
        opacity:0%;
        transform:translateY(10px)
    }
    60%{
        opacity:50%;
        transform:translateY(2px)
    }
    100%{
    opacity:100%;
    transform:translateY(0)
    }
}

.restaurant__Starter .restaurant__meal:nth-child(3){/*starters arrive*/
    animation-delay: 100ms;
}
.restaurant__Starter .restaurant__meal:nth-child(4){
    animation-delay: 200ms;
}
.restaurant__Starter .restaurant__meal:nth-child(5){
    animation-delay: 300ms;
}
.restaurant__Starter .restaurant__meal:nth-child(6){
    animation-delay: 400ms;
}
.restaurant__MainDish .restaurant__meal:nth-child(3){/*mainDish arrive*/
    animation-delay: 600ms;
}
.restaurant__MainDish .restaurant__meal:nth-child(4){
    animation-delay: 700ms;
}
.restaurant__MainDish .restaurant__meal:nth-child(5){
    animation-delay: 800ms;
}
.restaurant__Dessert .restaurant__meal:nth-child(3){/*dessert arrive*/
    animation-delay: 1100ms;
}
.restaurant__Dessert .restaurant__meal:nth-child(4){
    animation-delay: 1200ms;
}
.restaurant__Dessert .restaurant__meal:nth-child(5){
    animation-delay: 1300ms;
}

/* @ @ @ @ @ anim:end @ @ @ @ @ */



/*<!------------------------------ FOOTER -------------------------------->*/
footer{
    background-color: #292421;  
    padding: 20px 10px 40px 10px;
}

footer h3{
    font-family: 'Shrikhand', cursive;
    font-weight: 100;
    color: white;
    line-height: 1.6rem;
    margin-bottom: 10px;
}
footer li{
    width: 200px;
    color: white;
    line-height: 1.6rem;
}

footer .fa-utensils{
    padding-right: 15px;
}
footer .fa-hands-helping{
    padding-right: 6px;
}


/*<!---------************------------- LOADER --------************----------------->*/




.loader h4{
    font-family: 'Shrikhand', cursive;
    color:rgba(147, 112, 219, 75%);
    font-size: 1.6rem;
    text-align: center;
    line-height: 10rem;
    text-shadow: #d8f3ec 0px 2px 10px;
    /*text-shadow: 1px 1px 2px #FF79DA, 0 0 1em #99E2D0, 0 0 0.2em #99E2D0;*/
    
}
.loader {
    width:100%;
    background: radial-gradient(#175042,#d8f3ec);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    z-index: 10;  
    /* cursor: wait; */
    animation: loaderLife 1s linear forwards; 

}

@keyframes loaderLife{
    0%{
        opacity:1;
        transform:translateY(0)
    }

    98%{
        opacity:1;
        transform:translateY(0)
    }
    99%{
        opacity:0;
        transform:translateY(0)
    }
    100%{
        opacity:0;
        transform:translateY(-100vh)
    }
}


.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: 
	spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: #9356DC;
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: #FF79DA ;
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: #99E2D0;
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color:#FF79DA ;
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: #9356DC;
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}




/*________________________________responsive _______ @media___________________________________________*/



@media all and (max-width: 1200px) and (min-width:600px)
{
    /*general*/
	/*header*/
	/*main*/
	/*footer*/
}

@media all and (max-width: 600px)
{	/*general*/
	/*header*/
	/*main*/
	/*footer*/

}